name: demos-rebuild-current-cycle

on:
  push:
    branches: [main]
    paths:
      - "examples/**"
      - "src/**"
  workflow_dispatch:

permissions:
  contents: write
  pages: write

jobs:
  update-current-cycle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Build Polen
        uses: ./.github/actions/build-polen

      - name: Build current cycle
        id: build
        uses: ./.github/actions/step
        with:
          name: build
          previous: ${{ toJSON(steps.check.outputs) }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to GitHub Pages
        if: fromJSON(steps.build.outputs.json).did
        uses: ./.github/actions/gh-pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          deploy_from: examples
          additional_source_dirs: dist-demos
          environment_tag: current-cycle
          is_preview: false
