name: demos-build-on-release-semver

on:
  release:
    types: [published]

permissions:
  contents: write
  pages: write
  statuses: write
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}
          fetch-depth: 0
          fetch-tags: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Update workflow scripts from main
        uses: ./.github/actions/use-latest-ci

      - name: Extract release info
        id: release
        uses: ./.github/actions/step
        with:
          workflow: demos-build-on-release-semver
          name: extractReleaseInfo

      - name: Build Polen
        uses: ./.github/actions/build-polen
        with:
          skip-setup: "true"

      - name: Build demos
        uses: ./.github/actions/step
        with:
          workflow: demos-build-on-release-semver
          name: build
          previous: |
            {
              "extractReleaseInfo": ${{ toJSON(steps.release.outputs) }}
            }

      - name: Deploy to GitHub Pages
        uses: ./.github/actions/gh-pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: gh-pages
          keep_files: false

      - name: Add demos link to commit
        uses: ./.github/actions/step
        with:
          workflow: demos-build-on-release-semver
          name: addDemosLink
          previous: |
            {
              "extractReleaseInfo": ${{ toJSON(steps.release.outputs) }}
            }
