name: demos-update

on:
  push:
    branches: [main]
    paths: 
      - 'examples/**'
      - 'src/**'
  workflow_dispatch:

permissions:
  contents: write
  pages: write

jobs:
  update-current-cycle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Polen
        uses: ./.github/actions/build-polen

      - name: Check latest tag
        id: check
        uses: ./.github/actions/step
        with:
          name: check-latest-tag

      - name: Build current cycle
        if: steps.check.outputs.has_versions == 'true'
        uses: ./.github/actions/step
        with:
          name: build-current-cycle
          previous: ${{ toJSON(steps.check.outputs) }}

      - name: Deploy to GitHub Pages
        if: steps.check.outputs.has_versions == 'true'
        uses: ./.github/actions/gh-pages-with-deployments
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          deploy_from: examples
          additional_source_dirs: dist-demos
          environment_tag: current-cycle
          is_preview: false