name: demos-release

on:
  release:
    types: [published, edited]
  workflow_dispatch:
    inputs:
      tag:
        description: "Release semver tag to build demos for (e.g. 1.2.0, 0.8.0-next.1, ...)"
        required: true
        type: string

permissions:
  contents: write
  pages: write
  statuses: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name || inputs.tag }}
          fetch-depth: 0
          fetch-tags: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Update workflow scripts from main
        uses: ./.github/actions/use-latest-ci

      - name: Extract release info
        id: release
        uses: ./.github/actions/step
        with:
          name: extract-release-info
          inputs: ${{ toJSON(inputs) }}
          context: ${{ toJSON(github) }}

      - name: Build Polen
        if: steps.release.outputs.needs_build == 'true'
        uses: ./.github/actions/build-polen
        with:
          skip-setup: "true"

      - name: Build demos
        if: steps.release.outputs.needs_build == 'true'
        uses: ./.github/actions/step
        with:
          name: build-demos
          previous: ${{ toJSON(steps.release.outputs) }}

      - name: Deploy to GitHub Pages
        if: steps.release.outputs.needs_build == 'true'
        uses: ./.github/actions/gh-pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          deploy_from: examples
          additional_source_dirs: dist-demos
          environment_tag: ${{ steps.release.outputs.actual_tag }}
          is_preview: false

      - name: Add demos link to commit
        if: steps.release.outputs.needs_build == 'true'
        uses: ./.github/actions/step
        with:
          name: add-demos-link
          context: ${{ toJSON(github) }}
          previous: ${{ toJSON(steps.release.outputs) }}
