name: pr
concurrency:
  group: ${{github.head_ref}}
  cancel-in-progress: true
on:
  - pull_request
jobs:
  test-integration:
    strategy:
      matrix:
        os: ['ubuntu-latest'] #, 'macos-latest', 'windows-latest'
        node-version: [22.x]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          node-version: ${{matrix.node-version}}
      - name: Install Playwright Binaries
        uses: ./.github/actions/install-playwright-binaries
      - run: node debug.js
      - run: pnpm tsx debug.js
      - run: pnpm playwright test debug.test.js
      - run: pnpm playwright test debug.test.ts
      # - run: pnpm test:integration
  