name: pr
concurrency:
  group: ${{github.head_ref}}
  cancel-in-progress: true
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]

permissions:
  contents: write
  pull-requests: write
  pages: write
  id-token: write

jobs:
  # Run all checks
  checks:
    if: github.event.action != 'closed'
    uses: ./.github/workflows/_checks.yaml
    with:
      run-format: true
      run-lint: false # Currently disabled
      run-types: true
      run-package-lint: true
      run-unit-tests: true
      run-integration-tests: true
      run-examples-tests: true

  # Deploy PR preview
  deploy-examples:
    uses: ./.github/workflows/_examples-preview.yaml
    with:
      action: ${{ github.event.action }}
      pr-number: ${{ github.event.pull_request.number }}
      head-ref: ${{ github.head_ref }}
      head-sha: ${{ github.event.pull_request.head.sha }}
