name: pr
concurrency:
  group: ${{github.head_ref}}
  cancel-in-progress: true
on:
  - pull_request
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: pnpm add dprint
      - run: pnpm check:format
  lint-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: pnpm build
      - run: pnpm check:lint
  lint-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: pnpm build
      - run: pnpm check:package
  types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: pnpm check:types
  test-integration:
    strategy:
      matrix:
        os: ['ubuntu-latest'] #, 'macos-latest', 'windows-latest'
        node-version: [22.14.x]
        shard: [1, 2]
        total-shards: [2]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          node-version: ${{matrix.node-version}}
      - name: Install Playwright Binaries
        uses: ./.github/actions/install-playwright-binaries
      - run: pnpm build
      - run: pnpm exec playwright test --config tests/integration/playwright.config.ts --shard=${{matrix.shard}}/${{matrix.total-shards}}
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-integration-${{matrix.shard}}
          path: tests/integration/__results__/
          retention-days: 7
  test-unit:
    strategy:
      matrix:
        os: ['ubuntu-latest'] #, 'macos-latest', 'windows-latest'
        node-version: [22.14.x]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          node-version: ${{matrix.node-version}}
      - run: pnpm test:unit
  test-examples:
    strategy:
      matrix:
        os: ['ubuntu-latest'] #, 'macos-latest', 'windows-latest'
        node-version: [22.14.x]
        shard: [1, 2]
        total-shards: [2]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          node-version: ${{matrix.node-version}}
      - name: Install Playwright Binaries
        uses: ./.github/actions/install-playwright-binaries
      - run: pnpm build
      - run: pnpm exec playwright test --config tests/examples/playwright.config.ts --shard=${{matrix.shard}}/${{matrix.total-shards}}
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-examples-${{matrix.shard}}
          path: tests/examples/__results__/
          retention-days: 7
