name: trunk
concurrency: trunk
on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  pull-requests: write
  id-token: write

jobs:
  # Run all checks
  checks:
    uses: ./.github/workflows/_checks.yaml
    with:
      run-format: true
      run-lint: false # Currently disabled
      run-types: true
      run-package-lint: true
      run-unit-tests: true
      run-integration-tests: true
      run-examples-tests: true

  deploy-examples:
    needs: [checks]
    uses: ./.github/workflows/_examples-deploy.yaml
    with:
      deploy-to-pages: true

  # Check and release canary version
  # https://github.community/t/how-can-i-test-if-secrets-are-available-in-an-action/17911/10
  checkNpmTokenSet:
    name: Check if NPM_TOKEN secret is set
    runs-on: ubuntu-latest
    outputs:
      isNpmTokenSet: ${{ steps.checkNpmTokenSet.outputs.isNpmTokenSet }}
    steps:
      - name: Check if NPM_TOKEN secret is set
        id: checkNpmTokenSet
        run: |
          echo "isNpmTokenSet: ${{secrets.NPM_TOKEN != ''}}"
          echo "::set-output name=isNpmTokenSet::${{secrets.NPM_TOKEN != ''}}"

  release-canary:
    needs: [checkNpmTokenSet, checks]
    if: needs.checkNpmTokenSet.outputs.isNpmTokenSet == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: prisma-labs/dripip@master
        with:
          npmToken: ${{secrets.NPM_TOKEN}}
          githubToken: ${{secrets.GITHUB_TOKEN}}
